.swiper {
  width: 100vw;
  height: fit-content;
}

.slider-title {
  padding: 140px 0 124px 5vw;
  font-family: Arial, sans-serif;
  font-size: 80px;
  font-weight: 900;
}

.swiper-slide__name {
  padding-top: 10px;
  padding-left: 54px;
  font-family: Arial, sans-serif;;
  font-size: 45px;
  font-weight: 900;
}

.swiper-slide__description {
  padding-top: 10px;
  padding-left: 54px;
  font-family: Roboto, sans-serif;;
  font-size: 20px;
  font-weight: 500;
}


.swiper-button-next {
  height: 100%;
  width: 280px;
  right: 0;
  top: 0;
  color: #FF8340;
  background: linear-gradient(-90deg, #FFFFFF 0%, rgba(41, 41, 41, 0) 100%);
}

.swiper-button-prev {
  height: 100%;
  width: 280px;
  left: 0;
  top: 0;
  color: #FF8340;
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(41, 41, 41, 0) 100%);
}